In [197]:
import pandas as pd
import numpy as np

train = pd.read_csv("train.csv",nrows=10000)
test = pd.read_csv("test.csv")

1. Peek
2. Explore
3. Preprocess
4. Model
5. Evaluate

In [198]:
test.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [199]:
train.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [200]:
train.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [201]:
train.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,11.235464,-72.466660,39.920448,-72.474094,39.893281,1.644700
std,9.584258,10.609729,7.318932,10.579732,6.339919,1.271229
min,-2.900000,-74.438233,-74.006893,-74.429332,-73.994392,0.000000
25%,6.000000,-73.992058,40.734547,-73.991112,40.735230,1.000000
50%,8.500000,-73.981758,40.752693,-73.980083,40.753738,1.000000
75%,12.500000,-73.966925,40.767694,-73.963504,40.768186,2.000000
max,180.000000,40.766125,401.083332,40.802437,41.366138,6.000000

In [202]:
train = train[train['fare_amount'] > 0].reset_index()

In [203]:
train = train.drop(['key'], axis = 1).reset_index(drop = True)
test = test.drop(['key'], axis = 1).reset_index(drop = True)

In [204]:
train.describe()

,index,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000
mean,5000.047510,11.238252,-72.466375,39.920296,-72.473810,39.893123,1.644829
std,2886.923107,9.583189,10.610771,7.319656,10.580772,6.340543,1.271324
min,0.000000,0.010000,-74.438233,-74.006893,-74.429332,-73.994392,0.000000
25%,2501.250000,6.000000,-73.992056,40.734564,-73.991109,40.735235,1.000000
50%,5000.500000,8.500000,-73.981758,40.752695,-73.980083,40.753740,1.000000
75%,7499.750000,12.500000,-73.966934,40.767696,-73.963512,40.768187,2.000000
max,9999.000000,180.000000,40.766125,401.083332,40.802437,41.366138,6.000000

In [205]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9998 entries, 0 to 9997
Data columns (total 8 columns):
index                9998 non-null int64
fare_amount          9998 non-null float64
pickup_datetime      9998 non-null object
pickup_longitude     9998 non-null float64
pickup_latitude      9998 non-null float64
dropoff_longitude    9998 non-null float64
dropoff_latitude     9998 non-null float64
passenger_count      9998 non-null int64
dtypes: float64(5), int64(2), object(1)
memory usage: 624.9+ KB

# Preprocessing
- Distance (latitude, longitude) 
- Day (Monday-Sunday)
- Date (Month, Year)
- Time (Early Morning 5-7 AM Morning 8-10 AM, Afternoon 10AM-3PM, Evening 3PM-6PM, Night 6PM-10PM, Late Nigth 10PM-6 AM)

In [206]:
#calculate distance
from geopy.distance import geodesic

In [207]:
def calculate_distance(df):
    pickup = (df.pickup_latitude, df.pickup_longitude)
    dropoff = (df.dropoff_longitude, df.dropoff_longitude)
    return geodesic(pickup,dropoff).miles

def categorize_time(hour): 
    if hour > 4 and hour <= 10:
        return "Morning"
    elif hour > 10 and hour <= 15:
        return "Afternoon"
    elif hour > 15 and hour <= 19:
        return "Evening"
    elif hour > 19 and hour <= 24:
        return "Night"
    else:
        return "Late Night"

def full_pipeline(original):
    df = original.copy()
    df = df[df['pickup_longitude'] > -90]
    df = df[df['pickup_latitude'] < 90]
    df['distance'] = df.apply(lambda x: calculate_distance(x), axis = 1)
    df['pickup_datetime'] = pd.to_datetime(df.pickup_datetime)
    df['Time'] = df.apply(lambda x: categorize_time(x.pickup_datetime.hour), axis = 1)
    df = df.drop(columns = ['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude']).reset_index(drop = True)
    df = df.drop(columns = ['pickup_datetime']).reset_index(drop = True)
    return df

In [208]:
test = full_pipeline(test)

In [209]:
train = full_pipeline(train)

In [210]:
def encode_dummies(original, columns_to_encode): 
    df = original.copy()
    return pd.get_dummies(df, prefix = columns_to_encode, columns = columns_to_encode)

In [211]:
train = train.drop(columns = ['index']).reset_index(drop=True)

In [214]:
train = encode_dummies(train,['Time'])
test = encode_dummies(test,['Time'])

KeyError: "['Time'] not in index"

In [216]:
y_train = train['fare_amount']
X_train = train.drop(columns = ['fare_amount']).reset_index(drop = True)

In [226]:
from sklearn.preprocessing import RobustScaler

def scale_robust(df, columns_to_scale):
    
    robust = RobustScaler()
    
    for column in columns_to_scale:
        df[[column]] = robust.fit_transform(df[[column]])
        
    return df 

X_train = scale_robust(X_train, ['distance'])

In [217]:
X_test = test

In [228]:
X_test = scale_robust(X_test, ['distance'])

MODELING

In [221]:
from sklearn.linear_model import LinearRegression

In [229]:
linear = LinearRegression().fit(X_train, y_train)
linear.score(X_train, y_train)

0.0026730863394264226

EVALUATE

In [238]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor().fit(X_train, y_train)

In [239]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
cross_validate(forest, X_train, y_train, cv = 5, scoring=('r2','neg_mean_squared_error'))

{'fit_time': array([0.26277208, 0.21841788, 0.20674992, 0.24074388, 0.21680713]),
 'score_time': array([0.01955795, 0.01432991, 0.01393199, 0.01570296, 0.01541185]),
 'test_neg_mean_squared_error': array([-76.40617472, -51.64380592, -76.67374441, -74.79115954,
        -61.43878936]),
 'test_r2': array([0.30896245, 0.28686037, 0.15456887, 0.2706499 , 0.2571565 ]),
 'train_neg_mean_squared_error': array([-12.88942014, -14.46653809, -12.82832084, -11.88146178,
        -13.25639036]),
 'train_r2': array([0.85206146, 0.85033668, 0.86073701, 0.86670866, 0.85912394])}

In [240]:
scores = cross_val_score(forest, X_train, y_train, cv = 5)
scores

array([0.31123487, 0.29303815, 0.19042051, 0.27775973, 0.24368505])